.profile {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.profile-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  height: 65px;
  margin-bottom: 2rem;
}

.profile-area {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nofication {
  color: #9ea0ad;
  margin-right: 5px;
}

.prof-info p {
  margin: 0;
}

.position {
  font-size: 12px;
  color: #9ea0ad;
}
