.container {
  margin-left: 230px;
}

.dash-card-container {
  display: flex;
  justify-content: space-around;
}

.pie-cont {
  background-color: #fff;
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 20px;
}

.bar-cont {
  background-color: #fff;
  margin: 2rem 1rem;
  padding: 1rem 1rem 5rem 1rem;
  border-radius: 20px;
}

.cont-head {
  color: #9ea0ad;
}
